.hero {
  width: 94.06%;
  height: 23.9375rem;
  max-width: 1088px;

  margin: 6.4375rem auto 0px;

  display: flex;
  position: relative;
}

.heroLeftItems {
  max-width: 489px;
  height: 19.8125rem;
  z-index: 100;
  position: absolute;
  left: 0px;
  top: 1.375rem;
}

.heroLeftItems h1 {
  font-family: 'Playfair Display';
  font-weight: 900;
  font-size: 3.6875rem;
  line-height: 4.4375rem;
}

.heroLeftItems p {
  font-weight: 500;
  font-size: 1.1875rem;
  line-height: 1.625rem;
  margin-top: 1.4375rem;
}

.heroLeftItems div {
  display: flex;
  align-items: center;
}

.heroLeftItems div button {
  font-weight: 900;
  font-size: 1.3125rem;
  line-height: 1.5625rem;

  text-align: center;
  margin-top: 2.1875rem;
  transition: filter 0.2s !important;
}

.heroLeftItems div button:hover {
  filter: brightness(0.9);
}

.heroLeftItems div button:first-child {
  letter-spacing: 1.05px;
  color: var(--white);

  padding: 1.1875rem 2.9375rem 1.3125rem 3rem;
  border: none;
  background: var(--green);
}

.heroLeftItems div button:last-child {
  letter-spacing: 2.1px;
  color: var(--green);

  padding: 1rem 1.5rem 1.125rem 1.625rem;
  border: 3px solid var(--green);
  background: var(--white);

  margin-left: 2.8125rem;
}

.heroPhoto {
  width: auto;
  max-width: 42.5rem;
  height: 23.9375rem;
  margin-left: auto;
  z-index: 99;
}

/* ================ media queries  ================= */

@media (max-width: 768px) {
  .hero {
    max-width: 44.4375rem;
    height: 15.625rem;
    margin: 6.4375rem auto 0px;
  }

  .heroLeftItems {
    max-width: 315px;
    height: 13rem;
    top: 0.875rem;
  }

  .heroLeftItems h1 {
    font-size: 2.375rem;
    line-height: 2.875rem;
  }

  .heroLeftItems p {
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 1.0625rem;
  }

  .heroLeftItems div button {
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    margin-top: 1.5625rem;
  }

  .heroLeftItems div button:first-child {
    letter-spacing: 0.65px;
    padding: 0.8125rem 2.1875rem 0.875rem 1.9375rem;
  }

  .heroLeftItems div button:last-child {
    letter-spacing: 1.3px;
    padding: 0.625rem 1.125rem 0.6875rem;
    margin-left: 1.8125rem;
  }

  .heroPhoto {
    width: 445px;
    max-width: 100%;
    height: 15.625rem;
  }
}

@media (max-width: 425px) {
  .hero {
    height: 20.26375rem;
    max-height: 324.22px;
    margin: 0.5rem auto 0px;
  }

  .heroLeftItems {
    max-width: 301px;
    height: 100%;
    top: 0px;
  }

  .heroLeftItems h1 {
    font-size: 2.25rem;
    line-height: 2.625rem;
    max-width: 17.75rem;
  }

  .heroLeftItems p {
    font-size: 0.875rem;
    margin-top: 8.7rem;
    max-width: 18.125rem;
  }

  .heroLeftItems div button {
    margin-top: 1rem;
  }

  .heroLeftItems div button:first-child {
    padding: 0.8125rem 2.4375rem 0.75rem;
  }

  .heroLeftItems div button:last-child {
    padding: 0.625rem 1.5rem 0.5625rem;
    margin-left: 0.875rem;
  }

  .heroPhoto {
    max-width: 100%;
    height: 185px;
    margin-top: 3.1875rem;
  }
}
@media (max-width: 320px) {
  .heroPhoto {
    max-width: 100%;
    height: 10.5625rem;
    margin-top: 3.1875rem;
  }

  .heroLeftItems p {
    font-size: 0.875rem;
    margin-top: 6.125rem;
    max-width: 18.125rem;
  }
}
