.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ================= background stuff ================== */
.bgStuff {
  position: absolute;
  z-index: 0;

  width: 100%;
  max-width: 1440px;
  height: 165.5rem;

  object-fit: cover;
}

/* ================= hero session ================== */
.hero {
  width: 94.06%;
  height: 23.9375rem;
  max-width: 1088px;

  margin: 6.4375rem auto 0px;

  display: flex;
  position: relative;
}

.heroLeftItems {
  max-width: 489px;
  height: 19.8125rem;
  z-index: 100;
  position: absolute;
  left: 0px;
  top: 1.375rem;
}

.heroLeftItems h1 {
  font-family: 'Playfair Display';
  font-weight: 900;
  font-size: 3.6875rem;
  line-height: 4.4375rem;
}

.heroLeftItems p {
  font-weight: 500;
  font-size: 1.1875rem;
  line-height: 1.625rem;
  margin-top: 1.4375rem;
}

.heroLeftItems div {
  display: flex;
  align-items: center;
}

.heroLeftItems div button {
  font-weight: 900;
  font-size: 1.3125rem;
  line-height: 1.5625rem;

  text-align: center;
  margin-top: 2.1875rem;
}

.heroLeftItems div button:first-child {
  letter-spacing: 1.05px;
  color: var(--white);

  padding: 1.1875rem 2.9375rem 1.3125rem 3rem;
  border: none;
  background: var(--green);
}

.heroLeftItems div button:last-child {
  letter-spacing: 2.1px;
  color: var(--green);

  padding: 1rem 1.5rem 1.125rem 1.625rem;
  border: 3px solid var(--green);
  background: var(--white);

  margin-left: 2.8125rem;
}

.heroPhoto {
  width: auto;
  max-width: 42.5rem;
  height: 23.9375rem;
  margin-left: auto;
  z-index: 99;
}

/* ================= video session ================== */

.video {
  width: 95%;
  height: 33.1875rem;
  max-width: 944px;
  background-size: cover;

  margin: 17.4375rem auto 0px;
  z-index: 100;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video h1 {
  font-family: 'Playfair Display';
  font-weight: 900;
  font-size: 3.75rem;
  line-height: 5rem;
  color: var(--white);
}

.video button {
  font-weight: 900;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  letter-spacing: 1.05px;

  width: 12.5rem;
  height: 4.0625rem;
  margin-top: 3.8125rem;

  border: none;
  color: var(--green);
  background: var(--white);
  text-align: center;
}

/* ================= cards session ================== */

.cardsSession {
  width: 94.38%;
  height: auto;
  min-height: 533px;
  max-width: 1098px;

  position: relative;
  margin: 6.125rem auto 0px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(209px, 1fr));
  gap: 1.875rem;
}

.cardsSession div:first-child {
  align-self: flex-start;
}

.card {
  height: 28.0625rem;
  max-height: 449px;
  max-width: 320px;

  position: relative;
  align-self: flex-end;
}

.card img {
  height: 17.625rem;
  width: 100%;
}

.card div {
  height: 12.25rem;
  padding: 1.5rem 2.4375rem 1.25rem 1.875rem;

  position: absolute;
  bottom: 0px;
  z-index: 100;

  background: var(--white);
  font-size: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card div p {
  font-weight: 500;
  line-height: 1.625rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.card div a {
  font-weight: 800;
  line-height: 1.1875rem;
  color: var(--green);

  display: inline-block;
}

.cardsSessionTexts {
  height: auto;
  max-height: 324px;
  max-width: 365px;
  align-self: center;
}

.cardsSessionTexts h3 {
  font-family: 'Playfair Display';
  font-weight: 900;
  font-size: 2.75rem;
  line-height: 3rem;
}

.cardsSessionTexts p {
  font-weight: 500;
  font-size: 1.1875rem;
  line-height: 1.625rem;

  max-width: 322px;
  margin-top: 1.5rem;
}

/* ================= email input session ================== */

.emailInputSession {
  width: 92.19%;
  height: auto;
  max-width: 1089px;

  margin: 8.3125rem auto 0px;
  position: relative;
}

.studyCases {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
  gap: 2rem;
}

.studyCases div {
  height: 14.9375rem;
  max-height: 239px;
  max-width: 342px;
  min-width: 223px;

  padding-left: 1.6875rem;
  background-size: cover;
}

.studyCases strong {
  font-weight: 900;
  font-size: 2.125rem;
  line-height: 2.5rem;
  color: var(--white);

  display: inline-block;
  margin-top: 9.5625rem;
}

.studyCases p {
  font-weight: 700;
  font-size: 1.1875rem;
  line-height: 1.375rem;
  color: var(--white);
}

.emailInputSession h2 {
  font-family: 'Playfair Display';
  font-weight: 900;
  font-size: 2.75rem;
  line-height: 3rem;
  text-align: center;
  color: var(--black);

  max-width: 904px;
  margin: 2.5rem auto 0px;
}

.inputContainer {
  max-width: 668px;

  margin: 2.5rem auto 2.8125rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.inputContainer input {
  width: 26.25rem;
  height: 4.0625rem;

  background: var(--white);
  border: 1px solid var(--input-border-color);
  border-radius: 5px;

  font-size: 1.3125rem;
  line-height: 1.5625rem;
  letter-spacing: 1.05px;

  padding-left: 1.5625rem;
}

.inputContainer div {
  position: relative;
  display: inline-block;
}

.inputContainer div::after {
  content: 'Thanks! Email received.';
  position: absolute;
  left: 1.5625rem;
  top: 5.3125rem;

  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  letter-spacing: 1.05px;
  color: var(--green);
}

.inputContainer input::placeholder {
  color: var(--black);
}

.inputContainer input:-ms-input-placeholder {
  color: var(--black);
}

.inputContainer input::-ms-input-placeholder {
  color: var(--black);
}

.inputContainer button {
  width: 13.8125rem;
  height: 4.0625rem;

  font-weight: 900;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  letter-spacing: 1.05px;
  color: var(--white);
  text-align: center;

  margin-left: 1.6875rem;
  border: none;
  background: var(--green);
}

/* ================= brands session ================== */

.brandsSession {
  width: 87.81%;
  height: auto;
  max-width: 944px;

  margin: 4.6875rem auto 0px;
  position: relative;
}

.brandsSession h2 {
  max-width: 545px;
  margin: auto;

  font-family: 'Playfair Display';
  font-weight: 900;
  font-size: 2.75rem;
  line-height: 3rem;
  text-align: center;
}

.brandsSession div {
  max-width: 926px;
  height: auto;

  margin: 3.5625rem auto 0px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1.875rem;
}

.brandsSession div img {
  place-self: center;
}

/* ================= get started session ================== */

.getStarted {
  position: relative;
  width: 100%;
  height: 22.875rem;
  max-width: 1440px;

  background: var(--green);
  margin-top: 9.125rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.getStarted h1 {
  font-family: 'Playfair Display';
  font-weight: 900;
  font-size: 3.75rem;
  line-height: 5rem;
  color: var(--white);

  text-align: center;
}

.getStarted button {
  width: 12.5rem;
  height: 4.0625rem;
  margin-top: 2.5rem;

  font-weight: 900;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  letter-spacing: 1.05px;
  color: var(--green);
  text-align: center;

  border: none;
  background: var(--white);
}

/* =================media queries background stuff */

@media (max-width: 768px) {
  .bgStuff {
    max-width: 720px;
    height: 106.5625rem;

    margin-top: 20px;
  }
}

@media (max-width: 375px) {
  .bgStuff {
    max-width: 100%;
    height: 101.538125rem;

    margin-top: 18rem;
  }
}

/* ================ media queries hero session ================= */

@media (max-width: 768px) {
  .hero {
    max-width: 44.4375rem;
    height: 15.625rem;
    margin: 6.4375rem auto 0px;
  }

  .heroLeftItems {
    max-width: 315px;
    height: 13rem;
    top: 0.875rem;
  }

  .heroLeftItems h1 {
    font-size: 2.375rem;
    line-height: 2.875rem;
  }

  .heroLeftItems p {
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 1.0625rem;
  }

  .heroLeftItems div button {
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    margin-top: 1.5625rem;
  }

  .heroLeftItems div button:first-child {
    letter-spacing: 0.65px;
    padding: 0.8125rem 2.1875rem 0.875rem 1.9375rem;
  }

  .heroLeftItems div button:last-child {
    letter-spacing: 1.3px;
    padding: 0.625rem 1.125rem 0.6875rem;
    margin-left: 1.8125rem;
  }

  .heroPhoto {
    width: 445px;
    max-width: 100%;
    height: 15.625rem;
  }
}

@media (max-width: 425px) {
  .hero {
    height: 20.26375rem;
    max-height: 324.22px;
    margin: 0.5rem auto 0px;
  }

  .heroLeftItems {
    max-width: 301px;
    height: 100%;
    top: 0px;
  }

  .heroLeftItems h1 {
    font-size: 2.25rem;
    line-height: 2.625rem;
    max-width: 17.75rem;
  }

  .heroLeftItems p {
    font-size: 0.875rem;
    margin-top: 6.125rem;
    max-width: 18.125rem;
  }

  .heroLeftItems div button {
    margin-top: 1rem;
  }

  .heroLeftItems div button:first-child {
    padding: 0.8125rem 2.4375rem 0.75rem;
  }

  .heroLeftItems div button:last-child {
    padding: 0.625rem 1.5rem 0.5625rem;
    margin-left: 0.875rem;
  }

  .heroPhoto {
    max-width: 100%;
    max-height: 10.5625rem;
    margin-top: 3.1875rem;
  }
}

/* ================= media queries video session ================== */

@media (max-width: 768px) {
  .video {
    height: 21.6875rem;
    max-width: 616px;

    margin: 11.375rem auto 0px;
  }

  .video h1 {
    font-size: 2.375rem;
    line-height: 3.1875rem;
  }

  .video button {
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    letter-spacing: 0.65px;

    width: 8.25rem;
    height: 2.625rem;
    margin-top: 2.5975rem;
  }
}

@media (max-width: 600px) {
  .video {
    margin: 6.25rem auto 0px;
  }
}

@media (max-width: 425px) {
  .video {
    height: 15.3125rem;
    margin: 5.125rem auto 0px;
  }

  .video h1 {
    font-size: 1.75rem;
    line-height: 2.5625rem;
  }

  .video button {
    font-size: 0.5625rem;
    line-height: 0.6875rem;

    width: 5.875rem;
    height: 1.875rem;
    margin-top: 1.9725rem;
  }
}

@media (max-width: 320px) {
  .video {
    width: 95%;
    height: 10.6875rem;

    margin: 2.61125rem auto 0px;
  }

  .video h1 {
    font-size: 1.375rem;
    line-height: 1.8125rem;
  }

  .video button {
    font-size: 0.375rem;
    line-height: 0.4375rem;
    letter-spacing: 0.3px;

    width: 4.0625rem;
    height: 1.3125rem;
    margin-top: 1.285rem;
  }
}

/* ================= media queries cards session ================== */

@media (max-width: 768px) {
  .cardsSession {
    min-height: 348px;
    max-width: 710px;

    margin: 4rem auto 0px;
    justify-items: center;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(209px, 1fr));
    gap: 1.875rem;
  }

  .cardsSession div:first-child {
    align-self: flex-start;
  }

  .card {
    height: 18.375rem;
    max-height: 294px;
    max-width: 209px;

    position: relative;
    align-self: flex-end;
  }

  .card img {
    height: 11.576875rem;
  }

  .card div {
    height: 8rem;
    padding: 1.0625rem 1.5625rem 0.8125rem 1.25rem;

    font-size: 0.75rem;
  }

  .card div p {
    line-height: 1rem;
  }

  .card div a {
    font-weight: 800;
    line-height: 0.875rem;

    margin-top: auto;
  }

  .cardsSessionTexts {
    height: auto;
    max-height: 206px;
    max-width: 232px;
    justify-self: center;
  }

  .cardsSessionTexts h3 {
    font-size: 1.75rem;
    line-height: 1.9375rem;
  }

  .cardsSessionTexts p {
    font-size: 0.75rem;
    line-height: 1rem;

    max-width: 203px;
    margin-top: 1.0625rem;
  }
}

/* ================= media queries email input session ================== */

@media (max-width: 768px) {
  .emailInputSession {
    max-width: 708px;
    margin: 5.4375rem auto 0px;
  }

  .studyCases {
    gap: 1.21875rem;
  }

  .studyCases div {
    height: 9.8125rem;
    max-height: 157px;
    max-width: 223px;
    padding-left: 1.06625rem;
  }

  .studyCases strong {
    font-size: 1.375rem;
    line-height: 1.625rem;
    margin-top: 6.25rem;
  }

  .studyCases p {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }

  .emailInputSession h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    margin: 1.5625rem auto 0px;
    max-width: 475px;
  }

  .inputContainer {
    max-width: 436px;
    margin: 1.25rem auto 1.75rem;
  }

  .inputContainer input {
    width: 17.1875rem;
    height: 2.625rem;

    font-size: 0.8125rem;
    line-height: 0.9375rem;
    letter-spacing: 0.65px;
    padding-left: 1rem;
  }

  .inputContainer div::after {
    left: 1rem;
    top: 3.4375rem;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    letter-spacing: 0.65px;
  }

  .inputContainer button {
    width: 9rem;
    height: 2.625rem;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    letter-spacing: 0.65px;

    margin-left: 1.0625rem;
  }
}

@media (max-width: 765px) {
  .studyCases {
    justify-items: center;
  }
}

@media (max-width: 502px) {
  .emailInputSession {
    margin: 2.9375rem auto 0px;
  }

  .studyCases {
    gap: 1.3125rem;
  }

  .emailInputSession h2 {
    font-size: 1.625rem;
    line-height: 2.25rem;
    margin: 3.6875rem auto 0px;
    max-width: 215px;
  }

  .inputContainer {
    max-width: 223px;
    margin: 0.9375rem auto 0px;
  }

  .inputContainer input {
    width: 13.9375rem;
    padding-left: 0.875rem;
  }

  .inputContainer div::after {
    left: 2.5rem;
    top: 3rem;

    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 0.6px;
  }

  .inputContainer button {
    margin-left: 0;
    margin-top: 1.6875rem;
  }
}

/* ================= media queries brands session ================== */

@media (max-width: 768px) {
  .brandsSession {
    max-width: 617px;
    margin: 3.125rem auto 0px;
  }

  .brandsSession h2 {
    max-width: 325px;
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  .brandsSession div {
    max-width: 605px;
    margin: 2rem auto 0px;
  }

  .brandsSession div img {
    place-self: center;
  }

  #lastKnightParis {
    width: 104px;
    height: 22px;
  }

  #dragonEyeVodka {
    width: 55px;
    height: 29px;
  }

  #questAi {
    width: 94px;
    height: 31px;
  }

  #radiotee {
    width: 92px;
    height: 17px;
  }

  #gamecommerce {
    width: 91px;
    height: 15px;
  }
}

@media (max-width: 502px) {
  .brandsSession {
    max-width: 281px;
    margin: 3.375rem auto 0px;
  }

  .brandsSession h2 {
    max-width: 280px;
    font-size: 1.625rem;
  }

  .brandsSession div {
    max-width: 237px;
    margin: 1.875rem auto 0px;

    grid-template-columns: repeat(auto-fit, minmax(104px, 1fr));
  }

  #gamecommerce {
    grid-column: span 2 / span 2;
  }
}

/* ================= media queries get started session ================== */

@media (max-width: 768px) {
  .getStarted {
    height: 15rem;
    margin-top: 5.9375rem;
  }

  .getStarted h1 {
    font-size: 2.625rem;
    line-height: 3.5rem;
  }

  .getStarted button {
    width: 8.1875rem;
    height: 2.625rem;
    margin-top: 2.25rem;

    font-size: 0.8125rem;
    line-height: 0.9375rem;
    letter-spacing: 0.65px;
  }
}

@media (max-width: 320px) {
  .getStarted {
    height: 18.125rem;
    margin-top: 3.625rem;
  }

  .getStarted h1 {
    max-width: 259px;
    line-height: 3rem;
  }

  .getStarted button {
    margin-top: 3rem;
  }
}
