.homeContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ================= background stuff ================== */
.bgStuff {
	position: absolute;
	width: 100%;
	max-width: 1440px;
	height: 2648px;

	z-index: 0;
}

/* ================= hero session ================== */
.hero {
	width: 1088px;
	height: 383px;
	max-width: 1088px;

	margin: 103px auto 0px;
	display: flex;
	position: relative;
}

.heroLeftItems {
	max-width: 489px;
	height: 317px;
	z-index: 100;
	position: absolute;
	left: 0px;
	top: 22px;
}

.heroLeftItems h1 {
	font-family: 'Playfair Display';
	font-style: normal;

	font-weight: 900;
	font-size: 59px;
	line-height: 71px;
	color: var(--black);
}

.heroLeftItems p {
	font-family: 'Raleway';
	font-style: normal;

	font-weight: 500;
	font-size: 19px;
	line-height: 26px;
	color: #000000;

	margin-top: 23px;
}

.heroLeftItems div button {
	font-family: 'Raleway';
	font-style: normal;

	font-weight: 900;
	font-size: 21px;
	line-height: 25px;

	text-align: center;
	margin-top: 35px;
}

.heroLeftItems div button:first-child {
	letter-spacing: 1.05px;
	color: var(--white);

	padding: 19px 47px 21px 48px;
	border: none;
	background: var(--green);
}

.heroLeftItems div button:last-child {
	letter-spacing: 2.1px;
	color: var(--green);

	padding: 16px 24px 18px 26px;
	border: 3px solid var(--green);
	background: var(--white);

	margin-left: 45px;
}

.heroPhoto {
	width: 680px;
	height: 383px;
	margin-left: auto;
	z-index: 99;
}

/* ================= video session ================== */

.video {
	width: 944px;
	height: 531px;
	max-width: 944px;

	margin: 279px auto 0px;
	display: flex;
	flex-direction: column;
	align-items: center;

	background-image: url('/video_image.svg');
	z-index: 100;
}

.video h1 {
	font-family: 'Playfair Display';
	font-style: normal;

	font-weight: 900;
	font-size: 60px;
	line-height: 80px;
	color: var(--white);

	margin-top: 163px;
}

.video button {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 900;
	font-size: 21px;
	line-height: 25px;

	text-align: center;
	letter-spacing: 1.05px;

	color: var(--green);

	padding: 19px 32px 21px;
	margin-top: 61px;
	border: none;
	background: var(--white);
}

/* ================= cards session ================== */

.cardsSession {
	width: 1098px;
	height: 533px;
	max-width: 1098px;

	margin: 98px auto 0px;

	display: flex;
	justify-content: space-between;

	position: relative;
}

.cardsSession div:first-child {
	margin-top: 0px;
}

.card {
	width: 320px;
	height: 449px;
	max-width: 320px;
	max-height: 449px;
	position: relative;

	margin-top: auto;
}

.card img {
	position: absolute;
	width: inherit;

	z-index: 99;
	top: 0;
}

.card div {
	height: 196px;
	padding: 24px 39px 20px 30px;

	font-family: 'Raleway';
	font-style: normal;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: absolute;
	bottom: 0;
	z-index: 100;

	background: var(--white);
}

.card div p {
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: var(--black);
}

.card div a {
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	color: var(--green);
}

.cardsSessionTexts {
	width: 365px;
	height: 324px;
	max-height: 324px;
	max-width: 365px;

	margin-top: 138px;
}

.cardsSessionTexts h3 {
	font-family: 'Playfair Display';

	font-weight: 900;
	font-size: 44px;
	line-height: 48px;
	color: var(--black);
}

.cardsSessionTexts p {
	font-family: 'Raleway';

	font-weight: 500;
	font-size: 19px;
	line-height: 26px;
	color: var(--black);

	max-width: 322px;
	margin-top: 24px;
}

/* ================= email input session ================== */

.emailInputSession {
	width: 1089px;
	height: 530px;
	max-width: 1089px;
	max-height: 530px;

	margin: 133px auto 0px;
	position: relative;
}

.studyCases {
	width: inherit;

	display: flex;
	justify-content: space-between;
}

.studyCases div {
	width: 342px;
	height: 239px;

	padding-left: 27px;
}

.studyCases strong {
	font-family: 'Raleway';
	font-style: normal;

	font-weight: 900;
	font-size: 34px;
	line-height: 40px;
	color: var(--white);

	display: inline-block;
	margin-top: 153px;
}

.studyCases p {
	font-family: 'Raleway';
	font-style: normal;

	font-weight: 700;
	font-size: 19px;
	line-height: 22px;
	color: var(--white);
}

.emailInputSession h2 {
	font-family: 'Playfair Display';

	font-weight: 900;
	font-size: 44px;
	line-height: 48px;
	text-align: center;
	color: var(--black);

	max-width: 904px;
	margin: 40px auto 0px;
	height: 126px;
}

.inputContainer {
	max-width: 668px;
	max-height: 110px;

	margin: 15px auto 0px;
}

.inputContainer input {
	width: 420px;
	height: 65px;

	background: var(--white);
	border: 1px solid var(--border-color);
	border-radius: 5px;

	font-size: 21px;
	line-height: 25px;
	letter-spacing: 1.05px;

	padding-left: 25px;
}

.inputContainer input::placeholder {
	color: var(--black);
}

.inputContainer input:-ms-input-placeholder {
	color: var(--black);
}

.inputContainer input::-ms-input-placeholder {
	color: var(--black);
}

.inputContainer button {
	font-weight: 900;
	font-size: 21px;
	line-height: 25px;

	text-align: center;
	letter-spacing: 1.05px;

	color: var(--white);

	margin-left: 27px;
	border: none;
	background: var(--green);

	width: 221px;
	height: 65px;
}

.inputContainer span {
	font-weight: 500;
	font-size: 21px;
	line-height: 25px;

	letter-spacing: 1.05px;

	color: var(--green);

	display: inline-block;
	margin: 20px auto 0px 25px;
}

/* ================= brands session ================== */

.brandsSession {
	width: 944px;
	height: 211px;
	max-width: 944px;

	margin: 75px auto 0px;
}

.brandsSession h2 {
	max-width: 545px;
	height: 124px;

	font-family: 'Playfair Display';
	font-weight: 900;
	font-size: 44px;
	line-height: 48px;
	color: var(--black);

	text-align: center;
	margin: auto;
}

.brandsSession div {
	max-width: 926px;
	height: 48px;

	margin: 39px 9px 0px;
}

.brandsSession div img + img {
	margin-left: 64px;
}

/* ================= get started session ================== */

.getStarted {
	width: 100%;
	height: 366px;
	max-width: 1440px;

	background: var(--green);
	margin-top: 146px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.getStarted h1 {
	width: 944px;
	height: 124px;

	font-family: 'Playfair Display';

	font-weight: 900;
	font-size: 60px;
	line-height: 80px;
	color: var(--white);

	text-align: center;
	margin-top: 82px;
}

.getStarted button {
	width: 200px;
	height: 65px;

	font-weight: 900;
	font-size: 21px;
	line-height: 25px;
	color: var(--green);

	text-align: center;
	letter-spacing: 1.05px;

	border: none;
	background: var(--white);
}
