.footerContainer {
  width: 89.38%;
  height: 27.0625rem;
  max-width: 1440px;
  margin: auto;
}

.firstFooterGroup {
  max-width: 955px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.firstFooterGroup a img {
  width: 12.336875rem;
  height: 3.764375rem;

  margin: 4.5625rem 0px 0px;
}

.footerLinks {
  width: 35.1875rem;
  height: 12.49125rem;

  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;

  margin: 4.9375rem 0px 3.50875rem;
}

.footerLinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footerLinks ul li {
  font-weight: 700;
  font-size: 1.1875rem;
  line-height: 1.375rem;

  margin-bottom: 0.625rem;
}

.footerLinks ul li a:hover {
  color: var(--green);
}

.divider {
  width: 100%;
  max-width: 1088px;
  height: 2px;
  margin: auto;
  background: var(--footer-divider-color);
}

.secondFooterGroup {
  max-width: 926px;
  margin: auto;
  padding: 2.4375rem 0px;

  display: flex;
  justify-content: space-between;

  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.125rem;
}

.secondFooterGroup div {
  margin-left: 6.125rem;
}

.secondFooterGroup div a + a {
  margin-left: 2.1875rem;
}

/* ================= media queries ================= */

@media (max-width: 970px) {
  .footerLinks {
    width: 28rem;
  }

  .footerLinks ul li {
    font-size: 1rem;
    line-height: 1.1875rem;
  }

  .secondFooterGroup {
    max-width: 682px;

    font-size: 0.6875rem;
    line-height: 0.9375rem;
  }

  .secondFooterGroup div {
    margin-left: 75px;
  }

  .secondFooterGroup div a + a {
    margin-left: 25px;
  }
}

@media (max-width: 768px) {
  .footerContainer {
    height: 17.875rem;
  }

  .firstFooterGroup {
    max-width: 955px;
  }

  .firstFooterGroup a img {
    width: 7.939375rem;
    height: 2.329375rem;

    margin: 2.9375rem 0px 0px;
  }

  .footerLinks {
    width: 23rem;
    height: 8.1425rem;

    margin: 3.1875rem 0px 2.3575rem;
  }

  .footerLinks ul li {
    font-size: 0.75rem;
    line-height: 0.875rem;
    margin-bottom: 0.4375rem;
  }

  .divider {
    height: 1px;
  }

  .secondFooterGroup {
    max-width: 600px;
    padding: 1.5625rem 0px 1.875rem;

    font-size: 0.5625rem;
    line-height: 0.6875rem;
  }

  .secondFooterGroup div {
    margin-left: 5.8125rem;
  }

  .secondFooterGroup div a + a {
    margin-left: 1.875rem;
  }
}

@media (max-width: 585px) {
  .secondFooterGroup {
    flex-direction: column;
  }

  .secondFooterGroup div {
    margin-left: 0px;
    margin-top: 1.75rem;
  }
}

@media (max-width: 502px) {
  .footerContainer {
    height: 30.375rem;
  }

  .firstFooterGroup {
    flex-direction: column;
  }

  .firstFooterGroup a img {
    margin: 2.9375rem 0px 0px -1.0625rem;
  }

  .footerLinks {
    width: 13.1875rem;
    height: 13.3925rem;
    margin: 0.233125rem 0px 0.7325rem;

    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
  }

  #secondUl {
    margin-top: -1.375rem;
  }

  .secondFooterGroup {
    padding: 1.375rem 0px 3.1875rem;
    line-height: 1.1875rem;
  }

  .secondFooterGroup p {
    max-width: 11.625rem;
  }

  .secondFooterGroup div {
    margin-left: 0px;
    margin-top: 1.875rem;

    display: flex;
    flex-direction: column;
  }

  .secondFooterGroup div a + a {
    margin-left: 0px;
    margin-top: 0.5625rem;
  }
}
